---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormBook from "~/components/forms/FormBook.astro";
---

<Layout>
  <Section>
    <Heading>
      <h2 slot="heading-title" class="font-black text-brand-green h2">
        Reserva tu mesa
      </h2>
      <p slot="heading-content" class="text-pretty">
        Asegura tu lugar en nuestra mesa para tu próxima visita. Te
        confirmaremos tu reservación a la brevedad posible.
      </p>

    </Heading>

    <FormBook />
  </Section>
</Layout>
