---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import MenuList from "~/components/Menu.astro";
---

<Layout>
	<Section>
		<Heading>
			<h1 slot="heading-title" class="font-black text-brand-green h2">Nuestro menú</h1>
			<p slot="heading-content">
				Ofrecemos platillos típicos hondureños preparados con ingredientes frescos y recetas de siempre, porque la buena comida no necesita inventos.
			</p>
		</Heading>

		<MenuList />
	</Section>
</Layout>
